USE [master]
GO
/****** Object:  Database [DocQRequest]    Script Date: 7/26/2023 8:30:30 AM ******/
CREATE DATABASE [DocQRequest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DocQRequest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DIGITECH\MSSQL\DATA\DocQRequest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DocQRequest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DIGITECH\MSSQL\DATA\DocQRequest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DocQRequest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DocQRequest]
GO
/****** Object:  Schema [docReq]    Script Date: 7/26/2023 8:30:30 AM ******/
CREATE SCHEMA [docReq]
GO
/****** Object:  Table [docReq].[DeliveryModeTbl]    Script Date: 7/26/2023 8:30:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [docReq].[DeliveryModeTbl](
	[DeliveryMod] [nchar](10) NOT NULL,
	[DeliveryName] [nchar](50) NOT NULL,
 CONSTRAINT [PK_DeliveryModeTbl] PRIMARY KEY CLUSTERED 
(
	[DeliveryMod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [docReq].[DocRequestLogTbl]    Script Date: 7/26/2023 8:30:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [docReq].[DocRequestLogTbl](
	[LogId] [nchar](10) NOT NULL,
	[RequestId] [int] NOT NULL,
	[TimeStamp] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DocRequestLogTbl] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [docReq].[DocumentTypeTbl]    Script Date: 7/26/2023 8:30:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [docReq].[DocumentTypeTbl](
	[DocType] [nchar](10) NOT NULL,
	[DocName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DocumentTypeTbl] PRIMARY KEY CLUSTERED 
(
	[DocType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [docReq].[EmployeeTbl]    Script Date: 7/26/2023 8:30:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [docReq].[EmployeeTbl](
	[StaffId] [int] IDENTITY(1000,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Contact] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EmployeeTbl] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [docReq].[PaymentModeTbl]    Script Date: 7/26/2023 8:30:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [docReq].[PaymentModeTbl](
	[PayCode] [nchar](3) NOT NULL,
	[PaymentName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentModeTbl] PRIMARY KEY CLUSTERED 
(
	[PayCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [docReq].[StudentDocRequestTbl]    Script Date: 7/26/2023 8:30:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [docReq].[StudentDocRequestTbl](
	[RequestId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[DocumentType] [nchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
	[DeliveryMode] [nchar](10) NOT NULL,
	[StaffId] [int] NOT NULL,
	[PaymentMode] [nchar](3) NOT NULL,
	[Status] [nchar](10) NOT NULL,
 CONSTRAINT [PK_StudentDocRequestTbl] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [docReq].[StudentTbl]    Script Date: 7/26/2023 8:30:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [docReq].[StudentTbl](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Birthday] [nvarchar](50) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[isGraduate] [tinyint] NOT NULL,
 CONSTRAINT [PK_StudentTbl] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [docReq].[DocRequestLogTbl]  WITH CHECK ADD  CONSTRAINT [FK_DocRequestLogTbl_StudentDocRequestTbl] FOREIGN KEY([RequestId])
REFERENCES [docReq].[StudentDocRequestTbl] ([RequestId])
GO
ALTER TABLE [docReq].[DocRequestLogTbl] CHECK CONSTRAINT [FK_DocRequestLogTbl_StudentDocRequestTbl]
GO
ALTER TABLE [docReq].[StudentDocRequestTbl]  WITH CHECK ADD  CONSTRAINT [FK_StudentDocRequestTbl_DeliveryModeTbl] FOREIGN KEY([DeliveryMode])
REFERENCES [docReq].[DeliveryModeTbl] ([DeliveryMod])
GO
ALTER TABLE [docReq].[StudentDocRequestTbl] CHECK CONSTRAINT [FK_StudentDocRequestTbl_DeliveryModeTbl]
GO
ALTER TABLE [docReq].[StudentDocRequestTbl]  WITH CHECK ADD  CONSTRAINT [FK_StudentDocRequestTbl_DocumentTypeTbl] FOREIGN KEY([DocumentType])
REFERENCES [docReq].[DocumentTypeTbl] ([DocType])
GO
ALTER TABLE [docReq].[StudentDocRequestTbl] CHECK CONSTRAINT [FK_StudentDocRequestTbl_DocumentTypeTbl]
GO
ALTER TABLE [docReq].[StudentDocRequestTbl]  WITH CHECK ADD  CONSTRAINT [FK_StudentDocRequestTbl_EmployeeTbl] FOREIGN KEY([StaffId])
REFERENCES [docReq].[EmployeeTbl] ([StaffId])
GO
ALTER TABLE [docReq].[StudentDocRequestTbl] CHECK CONSTRAINT [FK_StudentDocRequestTbl_EmployeeTbl]
GO
ALTER TABLE [docReq].[StudentDocRequestTbl]  WITH CHECK ADD  CONSTRAINT [FK_StudentDocRequestTbl_PaymentModeTbl] FOREIGN KEY([PaymentMode])
REFERENCES [docReq].[PaymentModeTbl] ([PayCode])
GO
ALTER TABLE [docReq].[StudentDocRequestTbl] CHECK CONSTRAINT [FK_StudentDocRequestTbl_PaymentModeTbl]
GO
ALTER TABLE [docReq].[StudentDocRequestTbl]  WITH CHECK ADD  CONSTRAINT [FK_StudentDocRequestTbl_StudentTbl] FOREIGN KEY([StudentId])
REFERENCES [docReq].[StudentTbl] ([StudentId])
GO
ALTER TABLE [docReq].[StudentDocRequestTbl] CHECK CONSTRAINT [FK_StudentDocRequestTbl_StudentTbl]
GO
USE [master]
GO
